<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <link rel="stylesheet" type="text/css" href="/media/ext/resources/css/ext-all.css" /> 
        <link rel="stylesheet" type="text/css" href="/media/css/index.css" /> 
        <script type="text/javascript" src="/media/ext/bootstrap.js"></script>
        <script type="text/javascript" src="/media/js/mod.js"></script>
        <script type="text/javascript" src="/media/app/app-login.js"></script>
    </head>
    <body>
        <div id='description'>
            <h2>pHermes - Open Source GPS Tracking System</h2>
            pHermes
            <h2>How does it work</h2>
            How does it work
            <h2>Architecture</h2>
            Architecture
            <h2>Get the source code</h2>
            <p>
                You can get the source code of the pHermes on GitHub <a href="https://github.com/LiveStalker/phermes" title="get source code">here</a>.
                Some documentation you can get in <a href="https://github.com/LiveStalker/phermes/wiki" title="pHermes wiki">wiki</a>.
                Have any question? Visit our <a href="http://sleju.ru/forum" title="pHermes forum">forum</a>.
            </p>
            <h2>Licensing</h2>
            <p>pHermes is licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GNU GENERAL PUBLIC LICENSE (Version 3, 29 June 2007)</a>.</p>
            <p>There is no warranty for this program.</p>
        </div>
    </body>
</html>
