{% extends 'ilayout.html' %}

{% block title %}Free GPS Tracker{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="post">
        <h2 class="title">Germes</h2>
        <div class="entry">
            <p>Germes - <strong>free</strong>, <strong>open source</strong> GPS tracking system. At the moment we make only basic functionality, which implements a simple object tracking.</p>
            <p>Tested trackers:</p>
            <ul>
                <li><a href="#">TK102</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}