{% extends 'layout.html' %}

{% block title %}Login page{% endblock %}

{% block css %}
    <link href="/tracker/static/ext/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/tracker/static/css/default.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/tracker/static/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/tracker/static/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/tracker/static/js/login.js"></script>
{% endblock %}
