<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/media/ext/resources/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/tracker.css"/>
    <link rel="stylesheet" type="text/css" href="/media/css/icons.css"/>
    <script type="text/javascript" src="/media/ol/OpenLayers.js"></script>
    <script type="text/javascript" src="/media/js/OpenStreetMap.js"></script>
    <script type="text/javascript" src="/media/ext/bootstrap.js"></script>
    <script type="text/javascript" src="/media/js/mod.js"></script>
    <script type="text/javascript" src="/media/js/FormErrorState.js"></script>
    <script type="text/javascript" src="/media/js/DeviceWindow.js"></script>
    <script type="text/javascript" src="/media/js/AddDeviceWindow.js"></script>
    <script type="text/javascript" src="/media/js/EditDeviceWindow.js"></script>
    <script type="text/javascript" src="/media/js/DeviceGrid.js"></script>
    <script type="text/javascript" src="/media/js/MPStatusBar.js"></script>
    <script type="text/javascript" src="/media/js/MPMenuBar.js"></script>
    <script type="text/javascript" src="/media/js/MapPanel.js"></script>
    <script type="text/javascript" src="/media/js/TrackerLayout.js"></script>
</head>
<body>
</body>
</html>
