{% extends 'layout.html' %}

{% block title %}GPS Tracking system{% endblock %}

{% block css %}
    <link href="/media/ext/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/media/css/default.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/media/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/media/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/media/ol/OpenLayers.js"></script>
    <script type="text/javascript" src="/media/ol/OpenStreetMap.js"></script>
    <script type="text/javascript" src="/media/js/Application.TrackerMap.js"></script>
    <script type="text/javascript" src="/media/js/application.js"></script>
{% endblock %}