<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <link rel="stylesheet" type="text/css" href="/media/ext/resources/css/ext-all.css" />  
        <script type="text/javascript" src="/media/ol/OpenLayers.js"></script>
        <script type="text/javascript" src="/media/ol/OpenStreetMap.js"></script>
        <script type="text/javascript" src="/media/ext/bootstrap.js"></script>
        <script type="text/javascript" src="/media/js/MapPanel.js"></script>
        <script type="text/javascript" src="/media/js/TrackerLayout.js"></script> 
    </head>
    <body>
    </body>
</html>
